.imagenes img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.8s ease-out forwards;
}

.imagenes img:nth-child(1) {
  animation-delay: 0.2s;
}

.imagenes img:nth-child(2) {
  animation-delay: 0.4s;
}

.imagenes img:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
